<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .green {
            color: green;
        }

        .social-icon .fa {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            width: 30px;
            height: 30px !important;
            line-height: 1;
            font-size: 14px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            color: #fff;
            background: none
        }

        .social-icon:hover .fa {
            opacity: .8
        }

        .social-icon .fa-pinterest {
            background-color: #cb2027
        }

        .social-icon .fa-rss {
            background-color: #f26522
        }

        .social-icon .fa-facebook {
            background-color: #3b5998
        }

        .social-icon .fa-twitter {
            background-color: #00aced
        }

        .btn-round {
            border-radius: 4px !important
        }
    </style>
</head>
<body>
    <header>
    </header>
    <div class="container">

        @RenderBody()

    </div>

    @* <footer class="border-top footer text-muted">
            <div class="container">
                 &copy; 2020 -  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
             </div>
        </footer>*@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        
    
</body>
</html>
